Package: org.thebigboss.homemadebread
Name: Homemade Bread
Depends: mobilesubstrate, libactivator
Version: 0.0.1
Architecture: iphoneos-arm
Description: Use the home button to activate a breadcrumb
Maintainer: twodayslate
Author: twodayslate
Section: Tweaks
